@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Borel&family=Condiment&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: fit-content;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #add8e6;
  background-image: linear-gradient(315deg, #99d6ff 0%, #66c2ff 74%);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #add8e6; /* Keep the same background */
  background-image: linear-gradient(315deg, #99d6ff 0%, #66c2ff 74%);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link.dark:text-black {
  color: #fff;  
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  height: 3px;
  border-radius: 2rem;
  background: rgb(65,105,225);
  background: linear-gradient(159deg, rgba(65,105,225,1) 0%, rgba(137,207,240,1) 100%);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1); 
}

nav {
  backdrop-filter: none;
  background-color: transparent;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}
.blur-overlay {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.dark .blur-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Dark theme */
}

.blur-overlay.hidden {
  backdrop-filter: none;
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
